/* ********** */
/* typography */
/* ********** */

/* base */
html {
    font-family: "Gill Sans", verdana, sans-serif;
}

p {
    line-height: 1.4;
}

/* headings */

h1 {
    font-family: Arial, sans-serif;
    font-size: 140%;
    line-height: 1.8;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 140%;
    font-variant: small-caps;
}

h3 {
    font-weight: bold;
}

/* aside */

aside {
    font-size: 80%;
    line-height: 1.4;

}

aside h2 {
    font-size: 125%;
}

/* navigation */

header nav a:hover {
    text-decoration: underline;
}

/* ******************** */
/* colors & backgrounds */
/* ******************** */

main+aside {
    background-color: #E2E3E4;
}

footer {
    background-color: #394655;
    color: #FFF;
}

h2 span,
strong,
a {
    color: #476B9F;
}

h1,
header nav {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    color: #FFF;
}

header nav a {
    color: #FFF;
    text-decoration: none;
}


footer a {
    color: #FFF;
}