/* fonts */
$fontfamily-basic: "Gill Sans", verdana, sans-serif;
$fontfamily-heading: Arial, sans-serif;

$fontsize-large: 140%;
$fontsize-small: 80%;
$fontsize-medium: 125%;
$fontsize-basic: 100%;

$lineheight-medium: 1.4;
$lineheight-large: 1.8;

/* colors */
$grey: hsl(215, 20%, 89%);
$darkblue: hsl(215, 20%, 28%);
$middleblue: hsl(215, 20%, 45%);
$white: hsl(0, 0%, 100%);

/* padding */
$padding-container: 20px;